node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
dist
/server/config/local.env.js
/vpDocument/*.vpp~*
/vpDocument/tmp/*
/vpDocument/.vpprefdata/*
/vpDocument/teamwoekUser.xml
/vpDocument/.lock
