//
   Created by BensonHo on 15/4/4.

div.navbar.navbar-default.navbar-static-bottom
  div.container
    p.navbar-text.pull-left Go to Taiwan, Enjoy Taiwan, Love Taiwan.
    a.navbar-btn.btn.btn-danger.pull-right(href='https://github.com/NeoNeoHo') Subscribe on Github
