div(ng-include='"components/navbar/navbar.html"')

.welcome
  .container
    h1.text-center.slogan Welcome to Taiwan


.container
  .main

footer.footer
  .container
    p
      | Go to Taiwna, Enjoy Taiwan, Love Taiwan.
