div(ng-include='"components/navbar/navbar.html"')

.container-fluid
  carousel
    slide
      img.img-responsive.img_banner(ng-src='assets/images/banner_maseratig_ranturismo.jpg', alt='I\'m Yeoman', width='100%')
      div.carousel-caption
        h1 MiniVan
          i.fa.fa-car
          br
          h4 由超過190個國家的導遊司機帶您認識世界
        a.btn.btn-default(href='#') 認識我們
        div
          p.pull-left Site Built By NeoNeoHo
          a.btn.btn-danger.pull-right(href='https://github.com/NeoNeoHo') Subscribe on Github

.container
  .row
    h3.text-center The Best Place For You.
  .row.place
    .col-sm-4
      img.img-responsive.img-circle(src='/assets/images/taipei.png')
    .col-sm-4
      img.img-responsive.img-circle(src='/assets/images/taichung.png')
    .col-sm-4
      img.img-responsive.img-circle(src='/assets/images/kaohsiung.png')



div(ng-include='"components/navbar/footer.html"')